h2 {
    text-align:center;
}

#newburger {
    border-radius: 5px;
}

#lefthead {
    color:black;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
    margin: 5px;
}

#righthead {
    color: black;
    text-align: center;
    font-size: 1.2em;
}

.addBurger {
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
    background: white;
    color: black;
}

.container {
    background-image: url(../img/burgerpic2.jpg);
}

.burgimg {
    height: 200px;
    width: 250;
    border: 3px solid;
}

