h2 {
    text-align:center;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: #fff;
}

#lefthead {
    color:black;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    color: black;
    text-align: center;
    font-size: 1.2em;
}

.addBurger {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.container {
    background: url(/public/assets/img/burger1.jpg);
}

.imgB{
    background: url(/public/assets/img/burger2.jpg);
}